body{
    font-family: 'Special Elite', cursive;
    background: rgb(179, 177, 251);
}

.header_div
{
    background: rgb(180, 220, 244);
    color:rgb(174, 234, 230);
}

    .header_div p{
        font-family: 'Roboto', sans-serif;
        color:rgb(143, 136, 170);
        letter-spacing: 2px;
        font-size: 12px;
        font-weight:bold;
    }

    .main_div button{
        font-family: 'Roboto', sans-serif;
        margin-top:30px;
        width: 130px;
        font-weight: bolder;
        letter-spacing: 3px;
    }

    .copy_right_footer {
        position:fixed;
        color: #6e7e8d;
        bottom:0;
        width: 100%;
        font-size: 18px;
        background-color: #ede6d1;
        line-height: 3;
        text-align: center;
        text-shadow: 5px 5px 5px rgb(138, 113, 135);
    }